* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background: url(../asset/premium_photo-1676321046262-4978a752fb15.jpeg);
    background-size: cover;
}

header{
    position: relative;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.238);
}

p{
    color: rgb(243, 242, 241);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

h1{
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    
    padding-bottom: 50px;
}

.corps{
    padding-left: 50px;
    border-radius: 10px;
    height: 100%;
    width: 96%;
    margin-left: 2%;
    margin-top: 120px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.5px);/*pour flouter les elements*/
    
}

.contain{
    display: flex;
    gap: 70px;
}

.zone{
    padding:8px 180px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    font-weight: 600;
    font-size: 16px;
}


.text{
    padding: 30px 180px;
}

.bouton{
    background-color: aqua;
    color: #120d31;
    border: 1px solid aqua;
    padding: 0.5rem 3.12rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;
    
}

@media (max-width: 670px) {
    .contain{
        display: block;
        width: 100%;
        align-items:center ;
        justify-content: center;
        margin-right: 10px;
    }

    .zone{
        padding:8px 110px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
    }
}