* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background: url(../asset/plein-coup-jeune-homme-femme-maison_23-2149358490.jpg);
    background-size: cover;
}


h1{
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
}
.corps{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div{
    display: flex;
    background-color: blue;
}
.container{
    height: 500px;
    width: 40%;
    margin-right: 50px;
    border: 1px solid;
    margin-left: 25%;
    margin-top: 75px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}
.two-forms{
    display: flex;
    gap: 0px;
}
.input-field{
    font-size: 15px;
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-box{
    margin: 20px;
}
.input-box i{
    position: relative; 
    left: 17px;
    top: -33px;
    gap: 15px;
}
.submit{
    font-size: 16px;
    font-weight: 600;
    color: black;
    height: 45px;
    width: 25%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
    
}
.submit:hover{
    background: rgba(25, 204, 64, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(255, 255, 255, 0.2);
}
.button{
    text-align: center;
}
/* .cadre{
    border: 2px solid #000;
    width: 300px;
    height: 950px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
} */
.conteneur{
    max-width: 400px;
    margin: auto;
}
.cadre{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    width: 300px;
    height: 550px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 50px; */
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* overflow: visible; */
}
.entete{
    padding: 15px;
}
.desc{
    padding: 15px;
}
.image{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 100px;
}
.list{
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}
.list li{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
}
.list li:first-child{
    
    border-top: 1px solid black;
}
 .entete{
    width: auto;
    max-height: 50%;
 }
.pied{
    display: flex;
    justify-content: center;
}
.pied1{
    padding: 10px;
    float: left;
}
.pied2{
    padding: 10px;
    float: right;
}
.card-link{
    text-decoration: none;
    color: #007bff;
    margin-left: 10px;
}
.card-link:hover{
    text-decoration: underline;
}
