* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background: url(../asset/plein-coup-jeune-homme-femme-maison_23-2149358490.jpg);
    background-size: cover;
}


h1{
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
}
.corps{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div{
    display: flex;
    background-color: blue;
}
.container{
    height: 500px;
    width: 40%;
    margin-right: 50px;
    border: 1px solid;
    margin-left: 25%;
    margin-top: 75px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}
.two-forms{
    display: flex;
    gap: 0px;
}
/* .card-link-b{
    margin-bottom: 10px;
} */
.input-field{
    font-size: 15px;
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-box{
    margin: 20px;
}
.input-box i{
    position: relative; 
    left: 17px;
    top: -33px;
    gap: 15px;
}
.submit{
    font-size: 16px;
    font-weight: 600;
    color: black;
    height: 45px;
    width: 25%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
    
}
.back{
    height: 35px;

}
.submit:hover{
    background: rgba(25, 204, 64, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(255, 255, 255, 0.2);
}
.button{
    text-align: center;
}
/* .cadre{
    border: 2px solid #000;
    width: 300px;
    height: 950px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
} */
.conteneur{
    max-width: 450px;
    margin: auto;
}
.cadre{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    width: 300px;
    height: 700px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 50px; */
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* overflow: visible; */
}
.entete{
    padding: 15px;
}
.desc{
    padding: 15px;
}
.image{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 100px;
}
.list{
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}
.list li{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
}
.list li:first-child{
    
    border-top: 1px solid black;
}
 .entete{
    width: auto;
    max-height: 50%;
 }
.pied{
    display: flex;
    justify-content: center;
}
.pied1{
    padding: 10px;
    float: left;
}
.pied2{
    padding: 10px;
    float: right;
}
.card-link{
    text-decoration: none;
    color: #007bff;
    margin-left: 10px;
}
.card-link:hover{
    text-decoration: underline;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: aqua;
}

header{
    position: relative;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.238);
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .burger-menu-button{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;/*pour cacher*/
}

.buttons {
    display: flex;
    gap: 10px; /*met l'espace entre les elements*/
}

.action-button {
    background-color: aqua;
    color: #120d31;
    border: 1px solid aqua;
    padding: 0.5rem 1.12rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.action-button:hover {
    color: #fff;
    border: 1px solid #fff;
}

.pro {
    background-color: transparent;
    border: 1px solid #fff;
}

.pro:hover {
    background-color: #fff;
    color: #120d31;
}

/*responsive*/
.burger-menu {
    display: none;
    height: 0;
    /*height: 300px;*/
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);/*pour flouter les elements*/
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger-menu.open{
    height: 305px;
}

.burger-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider{
    height: 1px;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.burger-menu .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;/*permet de centrer les elements par rapport a une div*/
}

.buttons-burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


/*responsive*/
@media (max-width: 990px) {
    header{
        background: none;
    }

    .navbar .links,
    .navbar .action-button {
        display: none;
    }

    .navbar .burger-menu-button {
        display: block;
    }

    .burger-menu{
        display: block;
    }

    .transi{
        margin-top: 310px;
    }

    .container{
        height: 390px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #send{
        margin-top: 10px;
    }
}
@media (max-width: 516px) {

    .burger-menu{
        left: 2rem;
        width: unset;
    }

}
